@import url(Style/header.css);
@import url(Style/banner.css);

:root{
    --cor-de-fundo: #EBECEE;
    --cinza: #667085;
    --vermelho: #8E2424;
    --azul-fonte: #0d0058;
}

body{
    font-size: 16px;
    font-weight: 400;
}