@import url(Style/header.css);
@import url(Style/banner.css);
@import url(Style/vagas.css);
@import url(Style/metricas.css);
@import url(Style/talentos.css);

:root{
    --cor-de-fundo: #EBECEE;
    --cinza: #667085;
    --vermelho: #8E2424;
    --azul-fonte: #0d0058;

    --fonte-principal: 'Inter', sans-serif;
}

body{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fonte-principal);
}