.talentos {
    padding-left: 18em;
}

.talentos__div {
    padding: 1em 0 2em 0em;
}

.talentos__texto-div {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    padding-left: 2.2em;
}

.talentos__titulo {
    font-weight: 500;
    font-size: 20px;
    color: var(--azul-fonte);
    margin: 1em;
}

.talentos__subtitulo {
    font-weight: 500;
    font-size: 18px;
    color: var(--azul-fonte);
    margin: 2em;
}

<<<<<<< HEAD
.talentos__texto {
    color: var(--cinza);
=======
.talentos__texto{
}

.talentos__texto-2{
>>>>>>> 51fe227 (Nova section)
}